#welcome {
	position: relative;
	margin: auto;
	width: 20%;
	padding: 5px;
}

#logo {
	font-size: 20px;
	text-align: center;
}

#connect-btn {
	position: absolute;
	right: 0;
}

#scrollable {	
	height: 400px;
	overflow-y: auto;
}

#under-conversation {
	position: absolute;
	right: 0;
}

#myMsg {
	text-align: right;
}

#otherMsg {
	text-align: left;
}

#rest {
	display: none;
	position: relative;
	margin: auto;
	width: 20%;
	padding: 5px;
}