#welcome {
	position: relative;
	margin: auto;
	width: 20%;
	padding: 5px;
}

#logo {
	font-size: 2vw;
	text-align: center;
}

#connect-btn {
	position: relative;
	float: right;
	top: 5px;
	float: right;
}

#scrollable {
	height: 400px;
	overflow-y: auto;
}

#under-conversation {
	position: absolute;
	right: 0;
}

#myMsg {
	text-align: right;
}

#otherMsg {
	text-align: left;
}

#rest {
	display: none;
	position: relative;
	margin: auto;
	width: 20%;
	padding: 5px;
}